<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="member"> 
	<insert id="memberjoin" parameterType="memberdto">
		insert into membermy(mnumber,mid,mpassword,mname,mphone,memail,mprofilename) values(MEMBER_SEQ.nextval,#{mid},#{mpassword},#{mname},#{mphone},#{memail},#{mprofilename})
	</insert>
	
	<select id="idcheck" parameterType="String" resultType="String">
		select mid from membermy where mid=#{mid}
	</select>
	
	<select id="memberlogin" parameterType="memberdto" resultType="String">
		select mid from membermy where mid=#{mid} and mpassword=#{mpassword}
	</select>
	
	<select id="memberlist" resultType="memberdto">
		select * from membermy
	</select>
	
	<select id="memberview" resultType="memberdto" parameterType="int">
		select * from membermy where mnumber=#{mnumber}
	</select>
	
	<update id="memberupdate" parameterType="memberdto">
		update membermy set mphone=#{mphone},memail=#{memail} where mnumber=#{mnumber}
	</update>
	
	<delete id="memberdelete" parameterType="int">
		delete from membermy where mnumber=#{mnumber}
	</delete>
	
 </mapper>